@import url('https://fonts.googleapis.com/css?family=Montserrat');

@font-face {
    font-family: 'tropical';
    src:
        url('../Fonts/TropicalAsian.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

button {
    outline: none;
}

#wrapper {
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: url('../img/ffc.jpeg') center center no-repeat;
    background-size: cover;
    z-index: 2;
}

#wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    background-image: linear-gradient(to right top, #471562, #004ba3, #0074b0, #00947f, #02ac28);
    opacity: .9;
    z-index: -1;
}


@-webkit-keyframes color-change-2x {
    0% {
        background: #19dcea;
    }

    100% {
        background: #b22cff;
    }
}

@keyframes color-change-2x {
    0% {
        background: #19dcea;
    }

    100% {
        background: #b22cff;
    }
}


.icon {
    width: 50px;
    height: 50px;
    margin-left: 50px;
    display: inline-block;
    margin-top: 30px;
}


h1.mainTitle {
    overflow: hidden;
    text-align: center;
    display: inline-block;
    margin-top: 35px;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 30px;
    font-family: 'Courier New', Courier, monospace
}



h1.mainTitle span {
    color: lightblue;
    font-size: 120px;
    font-family: 'tropical';
    color: rgba(0, 0, 0, 0.6);
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.1);
    padding: 15px;
}

@keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        filter: blur(0px);
        opacity: 1;
    }
}



.loader {
    position: absolute;
    top: 50%;
    overflow: hidden;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 64px;
    height: 64px;
}

.loader::after {
    content: " ";
    display: block;
    width: 46px;
    height: 46px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #fff;
    border-color: rgb(59, 149, 252) transparent rgb(59, 149, 252) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

div.userInfo {
    position: absolute;
    width: 210px;
    height: 240px;
    left: 20px;
    top: 10px;
    top: 0;
    left: 20px;
    text-align: center;
    z-index: 32;
}

div.userInfo .face {
    background: url('../img/face.png');
    width: 140px;
    height: 140px;
    margin-left: 50%;
    transform: translateX(-50%);
    background-position: center;
    background-size: 70% 70%;
    background-repeat: no-repeat;
}

div.userInfo .logOut {
    text-decoration: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 170px;
    font-size: 15px;
    color: black;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.6);
    border-radius: 40px;
    padding: 4px;
    width: 110px;
    transition: 400ms box-shadow ease;
}

div.userInfo .logOut:hover {
    box-shadow: none;
    border-bottom: 1px solid black;
}

div.userInfo div.userName {
    font-size: 20px;
}

div.userInfo .goBack {
    top: 190px;
    width: 110px;
    position: absolute;
    margin-top: 15px;
    text-decoration: none;
    color: black;
    font-size: 15px;
    left: 15px;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.6);
    border-radius: 40px;
    padding: 4px;
    transition: 400ms box-shadow ease;
    left: 50%;
    transform: translateX(-50%);
}

div.userInfo .goBack:hover {
    box-shadow: none;
    border-bottom: 1px solid black;
}


div.hamburger {
    color: rgb(156, 156, 156);
    position: absolute;
    left: 20px;
    bottom: 80px;
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.navInFooter {
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 100px;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 123123;
    flex-wrap: wrap;
    display: none;
}

.goBackFooter {
    overflow-y: hidden;
    line-height: 18px;
    color: black;
    width: 100%;
    height: 48%;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 12px;
    border: 1px solid black;
    border-radius: 50px;
    margin-right: 5px;
}

div.userInfo {
    color: rgb(12, 45, 70);
    z-index: 299999999;
}

.logOutFooter {
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    line-height: 9px;
    height: 48%;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    border-radius: 40px;
    border: 1px solid black;
    color: rgb(0, 0, 0);
    padding: 5px;
    margin-right: 5px;
    overflow: hidden;
}


.backToLogIn {
    color: black;
    text-decoration: none;
    box-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.6);
    border-radius: 40px;
    padding: 4px;
    transition: box-shadow 400ms ease;
}

.backToLogIn:hover {
    box-shadow: none;
    border-bottom: 1px solid black;
}


@media screen and (max-width: 1060px) {
    div#wrapper h1.mainTitle span {
        display: block;
        padding: 0;
    }

    h1.mainTitle {
        width: 60%;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 0;
    }
}

@media screen and (max-width: 880px) {
    div#wrapper h1.mainTitle span {
        display: block;
    }

    h1.mainTitle {
        width: 80%;
    }
}

@media screen and (max-width: 660px) {
    div#wrapper h1.mainTitle span {
        font-size: 100px;
        display: block;
    }

    h1.mainTitle {
        width: 80%;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 560px) {
    div#wrapper h1.mainTitle span {
        font-size: 90px;
        display: block;
    }

    h1.mainTitle {
        width: 100%;
    }

    .navInFooter {
        font-size: 13px;
        width: 100px;
        right: 0;
    }



}

@media screen and (max-height: 920px) and (max-width:1275px) {
    h1.mainTitle {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    h1.mainTitle span {
        padding: 0;
    }
}


@media screen and (max-width:535px) {
    div.hamburger {
        display: block;
        z-index: 10;
    }

    footer {
        display: none;
    }
}


@media screen and (max-height:720px) {
    div.hamburger {
        display: block;
        z-index: 10;
    }

    footer {
        display: none;
    }
}




@media screen and (max-width: 374px) {
    h1.mainTitle span {
        font-size: 70px !important;
    }
}

@media screen and (max-width: 950px) {
    .navInFooter {
        display: flex;
    }

    .userInfo {
        display: none;
    }
}


@media screen and (max-width: 358px) {
    .navInFooter {
        font-size: 10px;
        width: 70px;
        bottom: 0px;
        right: 5px;
    }

    .navInFooter .logOutFooter {
        font-size: 11px;
    }


}