div.authentication {
    position: relative;
    margin-top: 10px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
    animation: fade1 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    -webkit-tap-highlight-color: transparent;
}

div.authentication div.accounts {
    position: absolute;
    bottom: 35px;
    left: 50%;
    border-bottom: 1px solid black;
    font-size: 18px;
    transform: translateX(-50%);
}

@keyframes fade1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


div.authentication .anonymous {
    position: absolute;
    overflow-y: hidden;
    bottom: 75px;
    left: 50%;
    transform: translateX(-50%);
    outline: none !important;
    border: none;
    height: 33px;
    font-weight: bold;
    width: 150px;
    border-radius: 100px;
    font-size: 13px;
    border: 1px solid black;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    text-decoration: none;
    color: black;
    text-align: center;
    line-height: 33px;
    transition: box-shadow 400ms ease;
    -webkit-tap-highlight-color: transparent;
}

div.authentication .anonymous:hover {
    box-shadow: none;
}

.authentication nav {
    position: absolute;
    display: flex;
    font-size: 30px;
    width: 400px;
    height: 50px;
    margin-bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}


.authentication nav div {
    cursor: pointer;
    width: 50%;
    text-align: center;
    transition: 0.5s ease letter-spacing;
}

.authentication nav div:hover {
    letter-spacing: 3px
}

.authentication div.wrongPassword {
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 200px;
    color: rgb(99, 34, 34);
    font-weight: bold;
}

@media screen and (max-height: 920px) and (max-width:1275px) {
    div.authentication .anonymous {
        bottom: 175px;
    }

    .authentication div.wrongPassword {
        bottom: 270px;
        font-size: 13px;
    }

    div.authentication div.accounts {
        bottom: 146px;
        font-size: 14px;
    }
}

@media screen and (max-width:560px) and (min-height:920px) {
    div.authentication div.accounts {
        bottom: 160px;

    }


    div.authentication .anonymous {
        bottom: 130px;
        width: 130px;
    }
}

@media screen and (max-width: 448px) {
    .authentication nav {
        width: 300px;
        font-size: 25px;
        margin-bottom: 20px;
    }

    div.authentication .anonymous {
        bottom: 225px;
        width: 120px;
        font-size: 11px;
        height: 30px;
        line-height: 30px;
    }


}

@media screen and (max-width: 560px) {
    .authentication div.wrongPassword {
        bottom: 285px;
        font-size: 10px;
    }

    div.authentication div.accounts {
        bottom: 85px;
    }
}



@media screen and (max-width: 448px) {
    .authentication div.wrongPassword {
        bottom: 318px;
        font-size: 9px;
    }
}

@media screen and (max-width: 375px) {
    .authentication div.wrongPassword {
        bottom: 318px;
        width: 230px;
        font-size: 9px;
    }
}