div.chooseLvl {
    height: 650px;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow-y: hidden;
    animation: swing-in-top-fwd 1s cubic-bezier(0.175, 0.885, 0.320, 1.275) both;
}

@keyframes swing-in-top-fwd {
    0% {

        opacity: 0;
    }

    100% {

        opacity: 1;
    }
}

div.chooseLvl h1.lvl {
    text-align: center;
    font-size: 50px;
    margin-bottom: 50px;
    color: rgb(12, 45, 70);
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px #000000;
}


div.chooseLvl .lvls {
    position: absolute;
    width: 100%;
    height: 603px;
    display: flex;
    justify-content: space-around;
}

div.chooseLvl .lvls .easy {
    width: 40%;
    height: 300px;
    position: relative;
}

div.chooseLvl .lvls .hard {
    width: 40%;
    height: 300px;
    position: relative;
    box-shadow: 0 10px 26px -6px black;
    transition: .5s all ease;
}

div.chooseLvl .lvls .easy {
    background-position: center;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/chooselvl1.jpeg');
    text-decoration: none;
    transition: .5s all ease;
    box-shadow: 0 10px 26px -6px black;
}

div.chooseLvl .lvls .easy h1 {
    opacity: 0.9999;
    font-size: 100px;
    text-align: center;
    line-height: 300px;
    text-decoration: none;
    color: rgb(106, 131, 201);
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;
}

div.chooseLvl .lvls .hard {
    background-position: center;
    background-size: auto;
    overflow-y: hidden;
    background-repeat: no-repeat;
    background-image: url('../img/chooselvlv2.jpeg');
    text-align: center;
    font-size: 100px;
    line-height: 300px;
    text-shadow: 2px 2px 4px #000000;
    text-decoration: none;
}

div.chooseLvl .lvls .hard h2 {
    color: red;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 40%;
    line-height: 120px;
    overflow: hidden;
    font-size: 20px;
}

div.chooseLvl .lvls .hard::before {
    font-weight: bold;
    color: rgb(106, 131, 201);
    content: 'Hard';
}

div.chooseLvl .lvls .hard:hover {
    width: 45%;
}

div.chooseLvl .lvls .easy:hover {
    width: 45%;
}

.chooseLvl .note {
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(101, 216, 245);
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width:673px) {
    .chooseLvl .note {
        display: block;
        width: 100%;
        text-align: center;
        bottom: 200px;
    }

    div.chooseLvl h1.lvl {
        font-size: 30px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width:720px) {
    div.chooseLvl .lvls .easy h1 {
        font-size: 40px;
    }

    div.chooseLvl .lvls .hard {
        font-size: 40px;
    }

    div.chooseLvl .lvls .hard h2 {
        font-size: 16px;
        height: 30%;
        line-height: 50px;
        width: 100%;
    }
}