div.contact {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    height: 600px;
    overflow: hidden;
    animation: scale-in-center 0.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.messageSent {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(195, 36, 36);
}

@keyframes scale-in-center {
    0% {
        transform: scale(0);
        opacity: 1;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

div.contact .messageBox {
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div.contact .contactTitle {
    font-size: 50px;
    margin-bottom: 30px;
}

div.contact .ideas {
    font-size: 15px;
    margin-bottom: 30px;
}

div.contact input {
    height: 30px;
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
    border: 1px solid black;
    color: white;
    background-color: rgb(12, 12, 12, 0.5);
}

div.contact input.submitContact {
    height: 30px;
    width: 200px;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 0;
    border: 1px solid black;
    color: white;
    background-color: rgb(12, 12, 12, 0.5);
}

div.contact textarea {
    padding-top: 5px;
    margin-top: 10px;
    width: 500px;
    height: 250px;
    border: 1px solid black;
    text-align: center;
    color: white;
    resize: none;
    margin-bottom: 10px;
    background-color: rgb(12, 12, 12, 0.5);
}


::placeholder {
    color: white;
    opacity: 0.5;
}

div.contact button.submitContact {
    /* background-color: green; */
    width: 200px;
    height: 35px;
    border: 1px solid black;
    background-color: transparent;
    position: relative;
    font-size: 20px;
    font-weight: bold;
    margin-top: 0 !important;
}

div.contact .contactSentError {
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: bold;
    color: rgb(195, 36, 36);
}

div.contact button.submitContact::before {
    content: '';
    background-color: black;
    opacity: 0.3;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

@media screen and (max-height:860px) and (max-width:1601px) {
    div.contact textarea {
        height: 165px;
    }
}

@media screen and (max-width: 560px) {
    div.contact textarea {
        width: 90%;
    }

    div.contact input {
        width: 180px;
    }

    div.contact .ideas {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 448px) {
    div.contact textarea {
        height: 200px;
        margin-bottom: 15px;
    }

    div.contact .contactTitle {
        font-size: 40px;
        margin-bottom: 10px;
    }

    div.contact .ideas {
        font-size: 14px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 358px) {
    div.contact textarea {
        height: 150px;
        margin-bottom: 15px;
    }
}