.introduction {
    position: relative;
    max-width: 1200px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    text-align: center;
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}


.introduction h1.rules {
    margin-bottom: 60px;
    font-size: 40px;
    color: rgb(12, 45, 70);
}

.introduction article.rules {
    font-size: 22px;
    margin-bottom: 50px;
    color: rgb(5, 26, 43);
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.introduction article.rules h1 {
    font-size: 35px;
    text-shadow: 1px 1px 2px #000000;
}

.introduction article.rules h2 {
    font-size: 23px;
    font-weight: initial;
}

.introduction article.rules li {
    padding: 5px 0;
}

.introduction .ok {
    position: absolute;
    width: 250px;
    text-decoration: none;
    color: black;
    overflow-y: hidden;
    line-height: 45px;
    height: 45px;
    border-radius: 40px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid black;
    font-size: 22px;
    transition: .3s ease background-color;
}

.introduction .ok::before {
    content: '';
    background-color: black;
    opacity: 0.3;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.introduction .ok:hover {
    background-color: rgba(33, 125, 212, 0.37);
}

@media screen and (max-height: 864px) and (max-width:1601px) {
    .introduction article.rules {
        font-size: 18px;
    }

    .introduction h1.rules {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 650px) {
    .introduction {
        width: 80%;
    }

    .introduction article.rules {
        font-size: 20px;
    }
}

@media screen and (max-width: 650px) and (max-height:720px) {
    .introduction article.rules {
        font-size: 15px;
    }
}

@media screen and (max-width: 560px) {
    .introduction {
        height: 58vh;
        position: absolute;
        top: 50vh;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .introduction article.rules {
        font-size: 15px;
        margin-bottom: 15px;
    }

    .introduction article.rules h1 {
        font-size: 25px;

    }

    .introduction article.rules h2 {
        font-size: 20px;
    }

    .introduction article.rules h3 {
        font-size: 14px;
    }

    .introduction {
        margin-top: 10px;
    }

    .introduction .ok {
        width: 180px;
        height: 30px;
        line-height: 30px;
        font-size: 18px;
    }
}

@media screen and (max-width: 448px) {
    .introduction {
        width: 95%;
    }

    .introduction article.rules {
        font-size: 13px;
        margin-bottom: 15px;
    }
}