div.quiz {
    height: 670px;
    position: relative;
    animation: scale-in-hor-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    color: rgb(12, 45, 70);
    /* z-index: 323; */
}

@keyframes scale-in-hor-center {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

div.quiz .popupAnswer {
    font-weight: bold;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 0px;
    z-index: 9999999999999999999999999999999999999999;
    animation: fadeZoom 1.8s ease;
    color: rgb(38, 52, 82);
    text-shadow: 1px 1px 2px #000000;
}

@keyframes fadeZoom {
    0% {
        opacity: 0;
        font-size: 0px;
    }

    30% {
        opacity: 1;
        font-size: 70px;
    }

    70% {
        opacity: 1;
        font-size: 70px;
    }

    100% {
        opacity: 0;
        font-size: 0px;
    }
}

div.quiz .questionNumber {
    text-align: center;
    font-size: 40px;
    text-shadow: 1px 1px 2px #000000;
}


div.quiz .questionNumber span.fadeNumber {
    animation: fadeNumber 4s ease;
}

div.quiz h2.category.fadeNumber {
    animation: fadeNumber 4s ease;
}

div.quiz div.points span.fadePoints {
    animation: fadePoints 1s ease;
}

@keyframes fadePoints {
    0% {
        opacity: 1
    }

    5% {
        opacity: 0;
    }

    30% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeNumber {
    0% {
        opacity: 1;
    }

    40% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    65% {
        opacity: 0;
    }

    85% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

div.quiz .category {
    text-align: center;
    font-size: 30px;
    text-shadow: 1px 1px 2px #000000;
    margin-top: 20px;
}

@media screen and (max-width:1000px) {
    div.quiz .popupAnswer {
        animation: fadeZoomSmaller 1.8s ease;
        width: 100vw;
        text-align: center;
    }
}

@keyframes fadeZoomSmaller {
    0% {
        opacity: 0;
        font-size: 0px;
    }

    30% {
        opacity: 1;
        font-size: 40px;
    }

    70% {
        opacity: 1;
        font-size: 40px;
    }

    100% {
        opacity: 0;
        font-size: 0px;
    }
}

@media screen and (max-width:635px) {
    div.quiz .questionNumber {
        font-size: 27px;
    }

    div.quiz .category {
        margin-top: 5px;
        font-size: 22px;
    }

    div.quiz .popupAnswer {
        animation: fadeZoomSmallest 1.8s ease;
        width: 100vw;
        text-align: center;
    }

}

@keyframes fadeZoomSmallest {
    0% {
        opacity: 0;
        font-size: 0px;
    }

    30% {
        opacity: 1;
        font-size: 25px;
    }

    70% {
        opacity: 1;
        font-size: 25px;
    }

    100% {
        opacity: 0;
        font-size: 0px;
    }
}

@media screen and (max-width: 374px) {
    div.quiz .questionNumber {
        font-size: 20px;
    }

    div.quiz .category {
        margin-top: 2px;
        font-size: 17px;
    }
}