div.scoreboard {
    /* background-color: green; */
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    height: 70%;
    position: relative;
}

div.scoreboard ul.users {
    display: flex;
    /* background-color: pink; */
    width: 100%;
    height: 60%;
    flex-wrap: wrap;
}



div.scoreboard ul.users li.username,
div.scoreboard ul.users li.points {
    /* background-color: red; */
    font-size: 30px;
    width: 50%;
    height: 10%;
    text-align: center;
    /* vertical-align: middle; */
    /* border-top: 1px solid black; */
    /* border-bottom: 1px solid black; */
}





div.scoreboard ul.users li:nth-of-type(3) {
    background-color: rgb(81, 158, 209, 0.3);
}

div.scoreboard ul.users li:nth-of-type(4) {
    background-color: rgb(81, 158, 209, 0.3);
}

div.scoreboard ul.users li:nth-of-type(7) {
    background-color: rgb(81, 158, 209, 0.3);
}

div.scoreboard ul.users li:nth-of-type(8) {
    background-color: rgb(81, 158, 209, 0.3);
}

div.scoreboard ul.users li:nth-of-type(11) {
    background-color: rgb(81, 158, 209, 0.3);
}

div.scoreboard ul.users li:nth-of-type(12) {
    background-color: rgb(81, 158, 209, 0.3);
}

div.scoreboard ul.users li:nth-of-type(15) {
    background-color: rgb(81, 158, 209, 0.3);
}

div.scoreboard ul.users li:nth-of-type(16) {
    background-color: rgb(81, 158, 209, 0.3);
}

div.scoreboard ul.users li:nth-of-type(19) {
    background-color: rgb(81, 158, 209, 0.3);

}

div.scoreboard ul.users li:nth-of-type(20) {
    background-color: rgb(81, 158, 209, 0.3);
}

div.scoreboard div.scoreboardTitles {
    /* background-color: green; */
    display: flex;
    margin-top: 30px;
    margin-bottom: 10px;
}

div.scoreboard div.scoreboardTitles .name,
div.scoreboard div.scoreboardTitles .points {
    width: 50%;
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

div.scoreboard h1.titleScoreboard {
    text-align: center;
    font-size: 45px;
}

div.scoreboard h3 {
    font-size: 30px;
    margin-top: 20px;
    text-align: center;
}


@media screen and (max-height: 875px) {
    div.scoreboard {
        height: 480px;
        /* background-color: green; */
        font-size: 14px;
    }

    div.scoreboard div.users div.username,
    div.scoreboard div.users div.points {
        /* font-size: 20px; */
        /* background-color: blue; */
        /* height: 30px; */

    }

    div.scoreboard ul.users li.username {
        font-size: 23px;
    }

    div.scoreboard ul.users li.points {
        font-size: 23px;
    }

    div.scoreboard div.scoreboardTitles {
        margin-bottom: 10px;
        margin-top: 12px;
        font-size: 16px;
    }

    div.scoreboard h1.titleScoreboard {

        font-size: 33px;
    }

    div.scoreboard h3 {
        font-size: 25px;
        margin-top: 12px;
    }
}

@media screen and (max-width: 615px) {
    div.scoreboard {
        width: 80%;
    }
}

@media screen and (max-width: 448px) {
    div.scoreboard {
        width: 95%;
    }

    div.scoreboard ul.users li.username {
        text-align: left;
        /* margin-left: 5px; */
        padding-left: 5px;
        width: 65%;
    }

    div.scoreboard ul.users li.points {
        width: 35%;
    }

    div.scoreboard div.users div.username {
        width: 80%;

        text-align: left;
        font-size: 14px;
    }



    div.scoreboard div.users div.points {
        width: 20%;
        /* background-color: green; */
        text-align: left;
    }

    div.scoreboard div.scoreboardTitles .name {
        width: 65%;
        font-size: 20px;
        text-align: left;
        padding-left: 5px;
        /* background-color: red; */
    }

    div.scoreboard div.scoreboardTitles .points {
        width: 35%;
        font-size: 20px;
        /* background-color: green; */

    }
}